docs2025-07-30/blotato faceless videos.json
{"createdAt":"2025-07-30T06:03:55.690Z","updatedAt":"2025-07-30T06:13:41.000Z","id":"hawUGN5zt0QdyB51","name":"blotato faceless videos","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $('Get Video').item.json.item.mediaUrl }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2060,960],"id":"ec66df70-6b19-4ef4-95d4-59ae15efbd0b","name":"Upload to Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.instagram_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2360,500],"id":"123ba685-610f-415e-9922-ae0cadf4b993","name":"[Instagram] Publish via Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"linkedin\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.linkedin_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2380,960],"id":"0f3cf494-96a9-41d8-bc0f-437ab5f393d8","name":"[Linkedin] Publish via Blotato"},{"parameters":{"resource":"image","prompt":"={{ $('Prepare for Publish').item.json.final_text_long }}","options":{"returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2300,1180],"id":"1a218aef-1321-4221-aee8-b1d9b95b748b","name":"OpenAI","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json.url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2520,1180],"id":"c73c0eb1-1382-4477-a60c-fe0c6f8a02f2","name":"Upload to Blotato - Image","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"pinterest\",\n      \"boardId\": \"{{ $('Prepare for Publish').item.json.pinterest_board_id }}\",\n      \"link\": \"https://www.tiktok.com/@sabrina_ramonov\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},,\n      \"platform\": \"pinterest\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.pinterest_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2740,1180],"id":"d0538157-1dd2-4d52-b089-c17dbbbfb70e","name":"[Pinterest] Publish via Blotato","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"TEST VIDEO\",\n      \"privacyStatus\": \"public\",\n      \"shouldNotifySubscribers\": true\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.youtube_id }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2360,720],"id":"8692cf26-b878-4604-a5f6-a83990d3b1b0","name":"[Youtube] Publish via Blotato","disabled":true},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare for Publish').item.json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"twitter\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"twitter\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.twitter_id }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,960],"id":"a18f63e7-1e00-458b-949d-08f7b35dcdc1","name":"[Twitter] Publish via Blotato","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[120,960],"id":"852cd27b-ccd1-4069-a760-99c3a10dbb19","name":"Schedule Trigger"},{"parameters":{"promptType":"define","text":"# INSTRUCTIONS\n\n1. Brainstorm 50 different viral faceless video ideas related to theme \"Little known history facts about [famous person]\".\n\n2. Randomly select 1 of the ideas. Research relevant statistics, dates, and figures related to the specific idea.\n\n3. Write a 15-second video script for a viral faceless video. Use 6th grade language, use active voice, and start with a hook that leaves viewers wanting to know the answer. Do NOT start with a greeting like \"Hey there!\".\n\n4. Write a 2-sentence video caption, use 6th grade language, no emojis, and append 3 relevant hashtags to the end of the caption, including \"#ai\".\n\n# OUTPUT FORMAT\n\nIn JSON format:\n\n1. Output the script.\n2. Output the caption.","hasOutputParser":true,"options":{"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[360,960],"id":"75142067-fd8a-4149-97d9-33c12df545fd","name":"AI Agent"},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1380,960],"id":"00aa704c-71a2-4595-8f7a-c00844f935f8","name":"Wait","webhookId":"83991019-318c-46e2-85d2-6e4bdcd6b69e","alwaysOutputData":false},{"parameters":{"content":"# Create Faceless Video\n\n- Sign up for Blotato: https://www.blotato.com\n- Here is the Blotato API documentation: https://help.blotato.com/api-reference/create-video","height":360,"width":800,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[920,800],"id":"08f4e072-d96a-4346-91c6-0aa4b105fc37","name":"Sticky Note1"},{"parameters":{"content":"# Publish to Social Media\n","height":920,"width":1100,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1840,480],"id":"a9b7e58d-c720-4c75-804f-9e4d02638ae2","name":"Sticky Note2"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"blotato_api_key\": \"\",\n  \"instagram_id\": \"\",\n  \"youtube_id\": \"\",\n  \"tiktok_id\": \"\",\n  \"facebook_id\": \"\",\n  \"facebook_page_id\": \"\",\n  \"threads_id\": \"\",\n  \"twitter_id\": \"\",\n  \"linkedin_id\": \"\",\n  \"pinterest_id\": \"\",\n  \"pinterest_board_id\": \"\",\n  \"bluesky_id\": \"\",\n  \"final_text_long\": {{ $('Prepare Video').item.json.script.caption.toJsonString() }},\n  \"final_text_short\": {{ $('Prepare Video').item.json.script.caption.toJsonString() }}\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1900,960],"id":"656862e4-1ef7-4497-a7e9-ee1f7453e554","name":"Prepare for Publish"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/videos/creations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $json.blotato_api_key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template\": {\n    \"id\": \"{{ $json.template }}\",\n    \"voiceId\": \"{{ $json.voiceId }}\",\n    \"captionPosition\": \"{{ $json.captionPosition }}\"\n  },\n  \"script\": {{ $json.script.script.toJsonString() }},\n  \"style\": \"{{ $json.style }}\",\n  \"animateFirstImage\": {{ $json.animate_first_image }},\n  \"animateAll\": {{ $json.animate_all }},\n  \"textToImageModel\": \"{{ $json.text_to_image_model }}\",\n  \"imageToVideoModel\": \"{{ $json.image_to_video_model }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,960],"id":"baf957d0-8566-426f-ad0a-8494591664f2","name":"Create Video"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"blotato_api_key\": \"\",\n  \"template\": \"empty\",\n  \"voiceId\": \"elevenlabs/eleven_multilingual_v2/JBFqnCBsd6RMkjVDRZzb\",\n  \"captionPosition\": \"bottom\",\n  \"script\": {{ $('AI Agent').item.json.output.toJsonString() }},\n  \"style\": \"cinematic\",\n  \"animate_first_image\": true,\n  \"animate_all\": false,\n  \"text_to_image_model\": \"replicate/recraft-ai/recraft-v3\",\n  \"image_to_video_model\": \"fal-ai/framepack\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[980,960],"id":"897157f1-f076-4d52-85f9-0fe14725fdcb","name":"Prepare Video"},{"parameters":{"url":"=https://backend.blotato.com/v2/videos/creations/{{ $json.item.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"blotato-api-key","value":"={{ $('Prepare Video').item.json.blotato_api_key }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1580,960],"id":"05371daa-4e50-4617-b498-d76ad9678819","name":"Get Video"},{"parameters":{"jsonSchemaExample":"{\n\t\"script\": \"your video script\",\n\t\"caption\": \"short video caption\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[520,1140],"id":"a0257ea5-794e-44d9-9197-24b7feae1b33","name":"Structured Output Parser"},{"parameters":{"content":"# Write Video Script","height":480,"width":580,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,820],"id":"2eafbd45-b036-4bf2-abdb-9d71d6760b1b","name":"Sticky Note"},{"parameters":{"modelName":"models/gemini-1.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[360,1140],"id":"7cf14d55-fa8b-4f54-8134-a5f77e442678","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"r5yABlEnKkh32jtL","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[200,1160],"id":"0c88e81f-eed0-483f-887d-8d1a930d2d42","name":"Brainstorm Idea","credentials":{"openAiApi":{"id":"foG4GFSU5tpD0ZnP","name":"OpenAi account 2"}}}],"connections":{"Upload to Blotato":{"main":[[{"node":"[Instagram] Publish via Blotato","type":"main","index":0},{"node":"[Linkedin] Publish via Blotato","type":"main","index":0},{"node":"OpenAI","type":"main","index":0},{"node":"[Youtube] Publish via Blotato","type":"main","index":0},{"node":"[Twitter] Publish via Blotato","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Upload to Blotato - Image","type":"main","index":0}]]},"Upload to Blotato - Image":{"main":[[{"node":"[Pinterest] Publish via Blotato","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Prepare Video","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Video","type":"main","index":0}]]},"Prepare for Publish":{"main":[[{"node":"Upload to Blotato","type":"main","index":0}]]},"Create Video":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Prepare Video":{"main":[[{"node":"Create Video","type":"main","index":0}]]},"Get Video":{"main":[[{"node":"Prepare for Publish","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Brainstorm Idea":{"ai_languageModel":[[]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2458c315-5e70-4b7f-b349-157f02e9f970","triggerCount":0,"tags":[]}