docs2025-07-30/Email Agent.json
{"createdAt":"2025-07-02T06:48:01.813Z","updatedAt":"2025-07-30T11:08:40.000Z","id":"dINhHEzbKykRNMFk","name":"Email Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-580,80],"id":"e41abeab-bcf7-4fbf-ad1c-afb70a4b8ef2","name":"When Executed by Another Workflow"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=You are email generator assistant to make a very professional emails for getting a job for me to the employee in a company, and structure the body lines correctly. Take the inputs from the user and generate the output as:\n\n- subject\n- body\n- email\n- employee name\n- company\n- job role\n- job id\n\nInclude all my details in the body:\n\nDetails :  I have skills in problem solving, Java, Nextjs, MongoDB, Express, React, Node, JavaScript, HTML, CSS, Docker and SQL. Also built 2 Saas products which have paid users. Currently, I'm a student at XXX College of Engineering, my email:xxxxxx@gmail.com.\n\nMy Projects :\nIndiecaptions - indiecaptions.com ( 50+ paid users )\nFresheresume - fresheresume.com  ( 300+ paid users )\n\nHere are my coding profiles:\n\nLeetCode : https://leetcode.com/u/xxxxx\n\nResume Link :  https://drive.google.com/file/d/xxxxxx\n\nLinkedin : https://www.linkedin.com/in/chandan-kumar-cheripally-78738a253/\n\nsigning off strictly with:\nBest Regards \nYour Name\n\nFollow the order strictly:\nsalutation,my interest, details,skills, projects, profiles and all links, thanking, signingoff \n\nIf you dont get required input pass the error message\n\n","role":"system"},{"content":"=Make a good email to get the job using my skills, projects, coding profiles, social medial profile. for the employee with given input details.\n\nSkills:\n\n I have skills in problem solving, Java, Nextjs, MongoDB, Express, React, Node, JavaScript, HTML, CSS, Docker and SQL\n\nEducation :\n Currently, I'm a student at XXX College of Engineering.\n\nMy Projects :\nIndiecaptions - indiecaptions.com ( 50+ paid users )\nFresheresume - fresheresume.com  ( 300+ paid users )\n\nHere are my coding profiles:\nLeetCode : https://leetcode.com/u/xxxx\n\nsocial media:\nLinkedin : https://www.linkedin.com/in/chandan-kumar-cheripally-78738a253/\n\nResume :\nResume Link :  https://drive.google.com/file/d/xxxx\n\nFollow the order strictly:\nsalutation,my interest, details,skills, projects, profiles and all links, thanking, signingoff \n\nInput details:\n\n\n{{ $json.query }} also include the required things in email body about job related\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-360,80],"id":"dd7f4680-b2b8-48ee-840f-1ad5e3c8bdbb","name":"OpenAI","credentials":{"openAiApi":{"id":"foG4GFSU5tpD0ZnP","name":"OpenAi account 2"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"f934067b-78cb-409d-a291-e6a433cd596a","name":"body","value":"={{ $('OpenAI').item.json.message.content.body }}","type":"string"},{"id":"333037e0-54f2-4204-9603-11c74ae75749","name":"subject","value":"={{ $('OpenAI').item.json.message.content.subject }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"512c3e97-28c6-44fd-b57a-0d9363dd4008","name":"Response"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[20,260],"id":"a108c47b-850d-46c4-8190-30022fc40638","name":"Edit Fields"},{"parameters":{"sendTo":"bmanobhiramreddy@gmail.com","subject":"={{ $json.message.content.subject }}","emailType":"text","message":"={{ $json.message.content.body }}","options":{"appendAttribution":false,"senderName":"Manobhiram"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[0,0],"id":"5c7acff8-7149-491f-a94d-3120c194eeac","name":"Send a message","webhookId":"8cb02df7-6401-4e7f-a475-e05448e9c2cc","credentials":{"gmailOAuth2":{"id":"bq27G4rj3y2Ahtbb","name":"Gmail account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Send a message","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6ef9c64a-96c0-4334-bb04-06a814a6e363","triggerCount":0,"tags":[]}