docs2025-07-30/Load Bank Sheet.json
{"createdAt":"2025-07-02T06:46:53.506Z","updatedAt":"2025-07-30T02:41:32.000Z","id":"gHnnBbaXMY6eA1Jp","name":"Load Bank Sheet","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"133J0S_x05w6o0J6AyO7keOsJ6p0xDt1xntIDZQrvLDs","mode":"list","cachedResultName":"statement","cachedResultUrl":"https://docs.google.com/spreadsheets/d/133J0S_x05w6o0J6AyO7keOsJ6p0xDt1xntIDZQrvLDs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/133J0S_x05w6o0J6AyO7keOsJ6p0xDt1xntIDZQrvLDs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[220,0],"id":"36451f01-bf93-474d-83b6-32ef723392e6","name":"BankSheet","credentials":{"googleSheetsOAuth2Api":{"id":"ly0l5UmsIpATY3mj","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a98e7d52-be15-41ef-a270-b2c591583dcf","name":"bank_data","value":"={{ $items() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"bbd661e3-fda3-4314-8dc0-c501165ae189","name":"bank_data","alwaysOutputData":true},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"326fb3d0-7336-4e47-9f09-e763fd6e621e","name":"When Executed by Another Workflow"}],"connections":{"BankSheet":{"main":[[{"node":"bank_data","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"BankSheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8414772a-3b2a-40ea-b127-0d60c639dd29","triggerCount":0,"tags":[]}