docs2025-07-30/Main Agent.json
{"createdAt":"2025-07-02T06:55:49.876Z","updatedAt":"2025-07-30T11:08:44.000Z","id":"QZcUhRjL649wBYrG","name":"Main Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-340,100],"id":"83f1c0ad-b819-4278-9834-115c188cf817","name":"When chat message received","webhookId":"f1dff802-438e-4605-b083-23553f905613"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}\n\n","options":{"systemMessage":"=#overview\n\nYou are an AI assistant specializing in this following tasks\n1.Sending emails using the tool emailsender and follow the inputs and inserting into the sheets with all details in it.\n2.Updating and managing Google Sheets using update sheet tool.\n3.Fetching data from Google Sheets using retrieve tool.\n4.Tracking and following up with recipients of previously sent mails and update status with follow up\nand follow the appropriate steps in it.\n\nYou have access to the following tools:\n\n##Tools\nemailsender – \n1.Use this tool to send emails. Ensure that you provide all necessary details, including recipient email, name, role, job link, job id, company and use update tool immediately with the same body.\n\nupdate sheet – \n1.Update the sheet with body which gets from email_sender tool,status with sent if it is new in sheets,email,name and company \n2. If it is about follow up make the status to follow up\n\nRetrieve data - use this tool to fetch the data anything related to email and name from the sheets\n\nFollow up - Retrive the data based on email or name, and collect the mail of it, and rewrite a good follow up mail to it for getting reply. Inputs are email, body and good subject. And call update tool immediately and update status, with new body updated\n\n#the body should not contain email in signing off.\n\n#ouput\nTell the clear status on what you have done.\n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-100,100],"id":"dc2920a7-1df7-41b9-b635-e3e476da8c65","name":"AI Agent"},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-120,360],"id":"e19f59a6-e09d-40e0-870b-20a6c7bb20bc","name":"Simple Memory"},{"parameters":{"name":"EmailSender","description":"Call this tool to send a email with inputs, email,name,company,role,jobid,joblink.","workflowId":{"__rl":true,"value":"dINhHEzbKykRNMFk","mode":"list","cachedResultName":"Email Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[20,360],"id":"8548684d-fbef-45cd-82d7-af27ce1eaa00","name":"Emailsender"},{"parameters":{"documentId":{"__rl":true,"value":"1o8qmvob7YayWg8afQmL8O5G8Xm8QzdjPfWM4_DJKwYk","mode":"list","cachedResultName":"agents","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1o8qmvob7YayWg8afQmL8O5G8Xm8QzdjPfWM4_DJKwYk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1115721575,"mode":"list","cachedResultName":"Sheet2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1o8qmvob7YayWg8afQmL8O5G8Xm8QzdjPfWM4_DJKwYk/edit#gid=1115721575"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[280,340],"id":"68e88388-2e66-483c-ba36-29b507e65ec5","name":"Retrieve data","credentials":{"googleSheetsOAuth2Api":{"id":"0r4BG7RYlH6Bmfxw","name":"Google Sheets account 2"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-400,320],"id":"20c60d16-5575-415c-9c27-e67b6507c26d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"TPB1MSpcQ4fyM76m","name":"OpenAi account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1o8qmvob7YayWg8afQmL8O5G8Xm8QzdjPfWM4_DJKwYk","mode":"list","cachedResultName":"agents","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1o8qmvob7YayWg8afQmL8O5G8Xm8QzdjPfWM4_DJKwYk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1115721575,"mode":"list","cachedResultName":"Sheet2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1o8qmvob7YayWg8afQmL8O5G8Xm8QzdjPfWM4_DJKwYk/edit#gid=1115721575"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email__using_to_match_', ``, 'string') }}","company":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('company', ``, 'string') }}","name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}","status":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', ``, 'string') }}","body":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('body', ``, 'string') }}"},"matchingColumns":["email"],"schema":[{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[140,340],"id":"055b0fc4-f9a6-4bd3-b45a-e4e75bac1a64","name":"update sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0r4BG7RYlH6Bmfxw","name":"Google Sheets account 2"}}},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false,"senderName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender_Name', ``, 'string') }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[400,340],"id":"146da32e-7043-4641-b201-648d248382d9","name":"Follow up","webhookId":"e0ab16e4-9908-4921-a58a-17d3d3aec5d7","credentials":{"gmailOAuth2":{"id":"bq27G4rj3y2Ahtbb","name":"Gmail account"}}},{"parameters":{"content":"Agent","height":280,"width":420,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-180,20],"id":"b26413a0-b944-4d9f-b57f-7fb455bbce84","name":"Sticky Note"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-280,360],"id":"9ce324b2-cab7-4c03-96ac-5ef4639ab08c","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"r5yABlEnKkh32jtL","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Emailsender":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Retrieve data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[]]},"update sheet":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Follow up":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4247da4a-7b59-4971-b195-4dbad2b07065","triggerCount":0,"tags":[]}