docs2025-07-30/n8n auto-backup github.json
{"createdAt":"2025-07-30T07:53:22.028Z","updatedAt":"2025-07-30T17:44:52.000Z","id":"uy153DNFnB3B8EnU","name":"n8n auto-backup github","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-940,220],"id":"c1402038-dd7b-4b88-b1ee-7a6ee27c753a","name":"When clicking ‘Test workflow’"},{"parameters":{"rule":{"interval":[{"triggerAtHour":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-940,20],"id":"f1e492e9-eb1c-4483-95c4-8c7aa5edfffa","name":"Schedule Trigger"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-400,220],"id":"d9967a6c-253b-4ae6-b32b-89c11ac341d7","name":"Loop Over Items","notesInFlow":true,"onError":"continueErrorOutput"},{"parameters":{"sendTo":"bmanobhiramreddy@gmail.com","subject":"n8n Workflows Backed Up Succesfully","message":"Breathe easy! :)","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[180,0],"id":"46fef59c-ffa3-402f-b836-3a718299a444","name":"SuccessMail","webhookId":"f94016b7-7bac-4487-93e1-958b9685fcc3","credentials":{"gmailOAuth2":{"id":"bq27G4rj3y2Ahtbb","name":"Gmail account"}}},{"parameters":{"sendTo":"bmanobhiramreddy@gmail.com","subject":"n8n Workflow - Github save failed","message":"Look at your worrk flow here https://neverbend007.app.n8n.cloud/workflow/iKRlNEduQ9GTy5XV","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[180,160],"id":"26da00fc-71b8-4bdb-9c4c-3e7dad4587a4","name":"FailMail","webhookId":"df8c423b-4549-4c39-b059-53a4ae280abf","credentials":{"gmailOAuth2":{"id":"bq27G4rj3y2Ahtbb","name":"Gmail account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[0,0],"id":"e0ff1aaa-25de-453e-8ce7-a1ffcaa3ebba","name":"Limit"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-680,140],"id":"767c6aaf-9be3-42d9-8c38-2acc18675d8f","name":"Get many workflows","credentials":{"n8nApi":{"id":"kWFkLyF9zndN7son","name":"n8n account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"manobhiramreddy","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/Manobhiramreddy/n8n"},"filePath":"=docs{{$now.format('yyyy-MM-dd')}}/{{ $json.name }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"={{$now.format('yyyy-MM-dd')}}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[0,320],"id":"091ff7b3-be65-4bab-a6e2-605316727b48","name":"Create a file","retryOnFail":true,"webhookId":"3caa3126-96dc-487d-8c97-d56128be5b1d","credentials":{"githubApi":{"id":"TCYJFTPXAoai2qUU","name":"GitHub account 2"}},"onError":"continueErrorOutput"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}],[{"node":"FailMail","type":"main","index":0}]]},"Limit":{"main":[[{"node":"SuccessMail","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"FailMail","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"FailMail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8e942c8d-2e59-4b06-8c28-d4562ba12892","triggerCount":0,"tags":[]}