docs2025-07-30/perplexity workflow for job notification.json
{"createdAt":"2025-07-30T03:31:44.118Z","updatedAt":"2025-07-30T03:38:24.000Z","id":"BbVcXtpocCbJQ8BO","name":"perplexity workflow for job notification","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"sonar-deep-research","messages":{"message":[{"content":"=Please provide a list of the latest job openings in India for WEB developer role, including both onsite and remote opportunities, which are latest and going to be conduct soon in next month or any latest new update on openings. Include jobs from top cities like Bangalore, Hyderabad, Delhi, and Mumbai, as well as remote jobs open to Indian candidates. Mention application links for each job role and a short summary for each if available."}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[600,-100],"id":"3a1259fa-8465-4083-8412-ca883c265978","name":"Message a model","credentials":{"perplexityApi":{"id":"zqKVyCkhiZRpsx8K","name":"Perplexity account"}}},{"parameters":{"fieldToSplitOut":"search_results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[800,-100],"id":"c97632f0-4f4b-44e0-be63-bd67849dad25","name":"Split Out1"},{"parameters":{"subject":"Daily job Notifications","emailType":"text","message":"={{ $json.url.join(\"\\n \\n\") }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1340,-100],"id":"4ea3991f-962f-4343-82d4-c7fe58ae04c1","name":"Send a message","webhookId":"d51273ab-66de-472c-aba3-d0a72a47f049"},{"parameters":{"rule":{"interval":[{"triggerAtHour":10,"triggerAtMinute":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[380,-100],"id":"903ac242-f5cd-4ce3-8b91-39f11530595f","name":"Schedule Trigger"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"url"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1000,-100],"id":"3afc5595-2e02-4b9c-9819-d50af2b8bfd4","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"3b235535-c36f-496d-8664-7381c6e0cb66","name":"url","value":"={{ $json.url }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1180,-100],"id":"86f4c89e-feed-4fad-9e86-a43164b7c413","name":"Edit Fields"}],"connections":{"Message a model":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3f0e6c35-d41e-406f-9927-b6609486af4b","triggerCount":0,"tags":[]}