docs2025-07-30/portfolio.json
{"createdAt":"2025-07-30T07:45:33.593Z","updatedAt":"2025-07-30T07:47:18.000Z","id":"FMUhp0I0PblEtI6W","name":"portfolio","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://manobhiramreddy.github.io/Portfolio/html/creative.html","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,-60],"id":"a231dafe-a90e-4da7-b44d-a76f85ef0fdf","name":"HTTP Request"},{"parameters":{"jsCode":"// Use the correct field from HTTP response\nconst html = $json[\"data\"] || $json[\"body\"];\n\n// Remove HTML tags\nconst text = html.replace(/<[^>]+>/g, ' ')\n                 .replace(/\\s+/g, ' ')\n                 .trim();\n\nreturn [{ json: { pageText: text } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,-60],"id":"af95ab29-b2a2-46f0-a822-71f82bb03ca4","name":"Code"},{"parameters":{"httpMethod":"POST","path":"chatbot","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[340,-60],"id":"a65e2a68-1e90-432a-bb04-05149b3058fa","name":"Webhook","webhookId":"a8abb1d2-203d-4433-acf5-bf1bc8eb257e"},{"parameters":{"resource":"assistant","operation":"create","modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"name":"PortfolioAssistant","description":"Answers visitor questions about my portfolio, projects, and certifications","instructions":"You are a helpful assistant that answers questions based only on the given portfolio text. If the answer is not found, politely say you don’t have that information.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1000,-60],"id":"cf9cfa5e-b41c-43cc-aef0-09f090962b91","name":"OpenAI","credentials":{"openAiApi":{"id":"foG4GFSU5tpD0ZnP","name":"OpenAi account 2"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"answer\": {{$node[\"OpenAI\"].json[\"choices\"][0][\"message\"][\"content\"]}}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1220,-60],"id":"118e9d1f-6c1c-43f0-868b-e5f63a8ce857","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[1440,-60],"id":"662c1e81-4d06-4081-a3b0-cd8766567f90","name":"Respond to Webhook"}],"connections":{"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"056619d6-eafd-44b5-b6eb-e62f92158922","triggerCount":0,"tags":[]}