docs2025-07-30/portfolio1.json
{"createdAt":"2025-07-30T07:47:44.065Z","updatedAt":"2025-07-30T17:45:27.000Z","id":"OPP9wV3e40b0lF9R","name":"portfolio1","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chatbot","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-780,160],"id":"a94a6c7e-0ce9-4084-9a4a-3d4f628e2b41","name":"Webhook","webhookId":"45674578-a05d-4119-9e79-d00fffd4f977"},{"parameters":{"fields":{"values":[{"name":"portfolioText","stringValue":"={{ $json.portfolioText }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3,"position":[100,160],"id":"c98b757e-1470-4423-a744-cd20821fd3a0","name":"Set Portfolio Text"},{"parameters":{"fields":{"values":[{"name":"answer","stringValue":"={{$json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"]}}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3,"position":[540,160],"id":"54607ba1-f98e-49d1-a036-53179075126a","name":"Format Answer"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[760,160],"id":"cef1ffbb-bd8d-4e87-82e8-3f7518db7004","name":"Respond to Webhook"},{"parameters":{"resource":"assistant","operation":"create","modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"name":"PortfolioAssistant","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[320,-80],"id":"4e7f2298-0849-434d-a481-5c16696a856d","name":"OpenAI","disabled":true},{"parameters":{"url":"https://manobhiramreddy.github.io/Portfolio/html/creative.html","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-560,160],"id":"7459bde9-66e9-4bf5-acc8-e688a44f4bae","name":"HTTP Request"},{"parameters":{"jsCode":"const html = $json[\"data\"] || $json[\"body\"]; // depends on version\n\n// Remove all HTML tags and extra spaces\nconst text = html\n  .replace(/<script[^>]*>([\\s\\S]*?)<\\/script>/gi, '') // remove scripts\n  .replace(/<style[^>]*>([\\s\\S]*?)<\\/style>/gi, '')  // remove styles\n  .replace(/<[^>]+>/g, ' ')                          // remove HTML tags\n  .replace(/\\s+/g, ' ')                              // normalize whitespace\n  .trim();\n\nreturn [{ json: { portfolioText: text } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-340,160],"id":"f8af309b-75e4-4c8a-8955-af94292f4469","name":"Code"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyD60mi1cWxbfwcFA0R7DaTPhxgJqr6wbJc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"Based on this portfolio:\\n{{ $json.portfolioText }}\\n\\nAnswer the following question:\\n{{ $json.question }}\"\n        }\n      ]\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,160],"id":"e93cfdd7-eabc-4705-8d67-561c634e9d0a","name":"HTTP Request1"},{"parameters":{"fields":{"values":[{"name":"question","stringValue":"={{ $('Webhook').item.json.body.question }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3,"position":[-120,160],"id":"27743265-9e5d-4285-8c69-e6800b8afa26","name":"Set Question"}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Format Answer":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Set Portfolio Text":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Set Question","type":"main","index":0}]]},"Set Question":{"main":[[{"node":"Set Portfolio Text","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Format Answer","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0c5352aa-3b9e-4934-b020-b6cf5862067a","triggerCount":0,"tags":[]}