docs2025-07-30/UPI Automate.json
{"createdAt":"2025-07-02T06:46:54.215Z","updatedAt":"2025-07-30T11:08:31.000Z","id":"xFPyX3GF9AH11H4z","name":"UPI Automate","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"={{ $json[\"payment_screenshot_url\"] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,0],"id":"c1748c53-7887-4790-9798-5b4653077cee","name":"HTTP Request1","alwaysOutputData":true},{"parameters":{"operation":"getAll","tableId":"participants","limit":100,"filterType":"string","filterString":"payment_screenshot_url=not.is.null"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[400,0],"id":"23aa4989-7ac3-44bd-9a10-72723e842b68","name":"Supabase","credentials":{"supabaseApi":{"id":"M72pKIOM6p5KosjY","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"51a50ab2-47ce-47e2-8d52-9a087e5a40f3","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"62420812-c58b-4351-a48f-b970dc55dda2","name":"ocr_text","value":"={{$json[\"ParsedResults\"][0][\"ParsedText\"]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1140,0],"id":"de094e81-0323-4770-91ed-c220cb660c53","name":"Edit Fields1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const text = $json[\"ocr_text\"];\n\n// First: Try to match a Transaction ID (alphanumeric or numeric, 15+ chars)\nlet regexTxn = /UTR\\s*[:\\s]*([A-Z0-9]{10,})/i;\nlet match = text.match(regexTxn);\n\n// If not found, try to match UPI transaction ID (pure numeric ID)\nif (!match) {\n  let regexUTR = /UPI transaction ID[:\\s]*([0-9]{10,})/i;\n  match = text.match(regexUTR);\n}\n\n// Get participant details from Supabase item\nconst participant_id = $('Supabase').item.json.id || '';\nconst participant_name = $('Supabase').item.json.name || '';\n\nif (match) {\n  return {\n    extracted_txn_id: match[1],\n    participant_id,\n    participant_name\n  };\n} else {\n  return {\n    extracted_txn_id: null,\n    status: \"No Transaction ID or UTR Found\",\n    participant_id,\n    participant_name\n  };\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,0],"id":"a6ca629c-10a0-431e-9f00-018048c8744a","name":"Code2"},{"parameters":{"workflowId":{"__rl":true,"value":"75sBBUBjj7OcULZk","mode":"list","cachedResultName":"Load Bank Sheet"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2080,220],"id":"5872064d-1de8-49ee-b958-5563e34167b0","name":"Extract bank data","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"gHnnBbaXMY6eA1Jp","mode":"list","cachedResultName":"Load Bank Sheet"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1580,0],"id":"8224d490-c346-4fca-8406-fc1f74b14e27","name":"Execute Workflow"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const bankDataArray = JSON.parse(item.json.bank_data || \"[]\");\nconst txnIdRaw = item.json.extracted_txn_id;\n\n// Handle missing or invalid txnId\nif (!txnIdRaw || typeof txnIdRaw !== 'string') {\n  return {\n    json: {\n      extracted_txn_id: txnIdRaw,\n      participant_id: item.json.participant_id,\n      participant_name: item.json.participant_name,\n      matched: false,\n      matched_transaction_details: null,\n      error: \"Invalid or missing extracted_txn_id\"\n    }\n  };\n}\n\nfunction normalizeNumber(str) {\n  return str.replace(/\\D/g, '');\n}\n\nconst txnId = txnIdRaw.trim();\nconst normalizedTxnId = normalizeNumber(txnId);\n\nconst matchedTransaction = bankDataArray.find(entry => {\n  const description = entry.json?.['Description'] || \"\";\n  const refNoRaw = entry.json?.['Ref No./Cheque\\r\\n No.'] || \"\";\n\n  const normalizedDescription = normalizeNumber(description);\n  const normalizedRefNo = normalizeNumber(refNoRaw);\n\n  return normalizedDescription.includes(normalizedTxnId) || normalizedRefNo.includes(normalizedTxnId);\n});\n\nreturn {\n  json: {\n    extracted_txn_id: txnId,\n    participant_id: item.json.participant_id,\n    participant_name: item.json.participant_name,\n    matched: !!matchedTransaction,\n    matched_transaction_details: matchedTransaction ? matchedTransaction.json : null\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2020,0],"id":"2aa76a61-c760-4adb-9f87-1c2833a2a87d","name":"Code"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1800,0],"id":"01454a4b-8ae6-4e8e-ab1f-0b433001b5c9","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6268a92c-8406-4126-ad6f-3a36eeb0f9b6","leftValue":"={{ $json.matched }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3240,120],"id":"9e23b8bc-fb63-4840-b1b0-82fb4c13f2f1","name":"If"},{"parameters":{"mode":"combine","fieldsToMatchString":"participant_id","joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2360,120],"id":"efc93537-28a4-4b73-ad24-71a15df393aa","name":"Merge1","alwaysOutputData":true},{"parameters":{"operation":"getAll","tableId":"participants","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{$json[\"participant_id\"]}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2520,120],"id":"ac787e8b-3812-4d23-bbcf-2dab9c0ff372","name":"Supabase1","credentials":{"supabaseApi":{"id":"M72pKIOM6p5KosjY","name":"Supabase account"}}},{"parameters":{"mode":"combine","fieldsToMatchString":"participant_id","joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3000,120],"id":"13da355b-a65d-442b-887d-7ef1623c1449","name":"Merge2"},{"parameters":{"assignments":{"assignments":[{"id":"f9776b68-149c-486a-b513-18199fd540e9","name":"participant_id","value":"={{ $json.id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2740,120],"id":"03182199-7509-405d-8323-497361ac4857","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://api.ocr.space/parse/image","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"data","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,0],"id":"7da4d78d-038c-42f0-8fa8-bde336c185ec","name":"HTTP Request3","credentials":{"httpHeaderAuth":{"id":"CcVOAMgamgg1Qj62","name":"Header Auth account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1H4W__izlPI_sFY93ouvz94tFm9swEY4OziZctZ5ozOI","mode":"list","cachedResultName":"matched_transactions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1H4W__izlPI_sFY93ouvz94tFm9swEY4OziZctZ5ozOI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1H4W__izlPI_sFY93ouvz94tFm9swEY4OziZctZ5ozOI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Participant Name":"={{ $json.name }}","Mobile Number":"={{ $json.mobile_number }}","UTR ID":"={{ $json.transaction_id }}","Transaction Date":"={{ $json.matched_transaction_details['Txn Date'] }}","Amount":"={{ $json.matched_transaction_details[' Credit'] }}","Email":"={{ $json.email }}","Timestamp":"={{$now}}"},"matchingColumns":[],"schema":[{"id":"Participant Name","displayName":"Participant Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Mobile Number","displayName":"Mobile Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"UTR ID","displayName":"UTR ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Transaction Date","displayName":"Transaction Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Amount","displayName":"Amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3480,40],"id":"34849b5d-1f90-4e40-81dc-cf1ff44bb602","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0r4BG7RYlH6Bmfxw","name":"Google Sheets account 2"}}},{"parameters":{"sendTo":"={{ $json.email }}","subject":"Payment Screenshot Required for Confirmation","message":"=Dear {{$json[\"participant_name\"] || $json[\"name\"]}},  We could not find your payment in our records. Please reply to this email with a screenshot of your payment and your details (e.g., roll number or mobile number) to help us verify your payment.  Thank you!","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[3460,220],"id":"06644beb-8acf-46a8-aaa8-f3de38f0a5e4","name":"Send a message","webhookId":"fb385865-d1ef-4a9f-ba7a-581699cf106f","credentials":{"gmailOAuth2":{"id":"bq27G4rj3y2Ahtbb","name":"Gmail account"}}}],"connections":{"HTTP Request1":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"HTTP Request1","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Schedule Trigger":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Execute Workflow","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"If":{"main":[[{"node":"Append row in sheet","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Supabase1","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8fdffa83-b30d-4cb1-839e-07645c72611b","triggerCount":0,"tags":[]}